/* Tailwind Setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Library CSS import */
@import url("react-toastify/dist/ReactToastify.css");

@font-face {
    font-family: "Mona Sans";
    src:
        url("/assets/fonts/Mona-Sans.woff2") format("woff2"),
        url("/assets/fonts/Mona-Sans.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Mona Sans";
    src: url("/assets/fonts/MonaSans-ExtraBold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Clash Display";
    src: url("/assets/fonts/ClashGrotesk-Variable.ttf") format("woff2");
    font-weight: 400;
}

.clash-font {
    font-family: "Clash Display", sans-serif !important;
}

.font-monasans {
    font-family: "Mona Sans", sans-serif;
    font-weight: 900;
}

@layer base {
    /* Specify default font below */
    html {
        font-family: "DM Sans", sans-serif;
    }

    /* Daisy UI Resets */
    /* =========================== */
    .input:focus,
    .select:focus,
    .textarea:focus,
    .file-input:focus {
        @apply outline-0 !important;
    }

    .select {
        @apply font-normal !important;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }
    /* =========================== */
}

.font-scale {
    transform: scaleY(1.25);
}

/* .hidden-text {
    opacity: 0;
    visibility: hidden;
} */

.char {
    transform: translateY(115px);
    transition: transform 0.5s;
}
#big {
    transform: translateY(115px);
    transition: transform 0.5s;
    text-transform: uppercase;
}

/* .scale-images {
    transform: scale(1.25);
    transition: transform 0.5s;
} */

#big.word {
    display: block;
}

.preloader.char {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
}

.card-card {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    opacity: 0;
    transform: translateY(100px);
    /* transition: all 0.5s ease; */
}

.my-menu {
    opacity: 0;
}

/* .switch {
    line-height: 0;
    text-align: left;
} */
/* .text-scale {
    transform: scaleY(1.5)
} */

:root {
    --font-monasans: "Mona Sans", sans-serif;
}

/* .font-monasans {
    font-family: var(--font-monasans);
}

 */
