/* Tailwind Setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Library CSS import */
@import url("react-toastify/dist/ReactToastify.css");

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Mona Sans";
    src:
        url("/assets/fonts/Mona-Sans.woff2") format("woff2"),
        url("/assets/fonts/Mona-Sans.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Mona Sans";
    src: url("/assets/fonts/MonaSans-ExtraBold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Clash Display";
    src: url("/assets/fonts/ClashGrotesk-Variable.ttf") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "SF UI";
    src: url("/assets/fonts/SFUIText-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "SF UI";
    src: url("/assets/fonts/SFUIText-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
.sf-uibold {
    font-family: "SF UI", sans-serif !important;
    font-weight: 800;
}

.sf-ui {
    font-family: "SF Ui", sans-serif !important;
    font-weight: 400;
}

.clash-font {
    font-family: "Clash Display", sans-serif !important;
}

.font-monasans {
    font-family: "Mona Sans", sans-serif;
    font-weight: 900;
}

@layer base {
    /* Specify default font below */
    html {
        font-family: "Syne", sans-serif;
    }

    /* Daisy UI Resets */
    /* =========================== */
    .input:focus,
    .select:focus,
    .textarea:focus,
    .file-input:focus {
        @apply outline-0 !important;
    }

    .select {
        @apply font-normal !important;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }
    /* =========================== */
}

.font-scale {
    transform: scaleY(1.25);
}

.char {
    transform: translateY(115px);
    transition: transform 0.5s;
}
#big {
    transform: translateY(115px);
    transition: transform 0.5s;
    text-transform: uppercase;
}

#big.word {
    display: block;
}

.preloader.char {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
}

.card-card {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    opacity: 0;
    transform: translateY(100px);
}

.overlay {
    background: white;
    color: black;
    position: absolute;
    clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 100ms;
    pointer-events: none; /* Prevents interference with mouse events */
}

/* .hover-btn, .hover-btn2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: black;
    display: flex;
    cursor: pointer;
} */

.my-menu {
    opacity: 0;
}

.mask {
    position: absolute;
    mask-image: url("/assets/images/mask.svg");
    background: #f4faff;
    mask-position: 50%;
    mask-repeat: no-repeat;
    mask-size: cover;
    color: black;
    z-index: 100;


}

.special-mask {
    position: absolute;
    mask-image: url("/assets/images/mask.svg");
    background: #f4faff;
    mask-position: 50%;
    mask-repeat: no-repeat;
    mask-size: cover;
    color: black;
    z-index: 100;
    pointer-events: none;
}

:root {
    --font-monasans: "Mona Sans", sans-serif;
}
