/* Tailwind Setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Library CSS import */
@import url("react-toastify/dist/ReactToastify.css");

@font-face {
    font-family: 'Mona Sans';
    src: url('/assets/fonts/Mona-Sans.woff2') format('woff2'),
         url('/assets/fonts/Mona-Sans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  .font-monasans {
    font-family: 'Mona Sans', sans-serif;
  }

@layer base {
    /* Specify default font below */
    html {
        font-family: "DM Sans", sans-serif;
    }

    /* Daisy UI Resets */
    /* =========================== */
    .input:focus,
    .select:focus,
    .textarea:focus,
    .file-input:focus {
        @apply outline-0 !important;
    }

    .select {
        @apply font-normal !important;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }
    /* =========================== */
}

.char {
    transform: translateY(115px);
    transition: transform 0.5s;
}

:root {
    --font-monasans: 'Mona Sans', sans-serif;
}

/* .font-monasans {
    font-family: var(--font-monasans);
}

 */
